############################################
# Basically Ignore everything in the project except for Selected folders
*

############################################
# Selected folders to keep

# Git
!.gitignore
!.gitattributes
!LICENSE
!README.md

# Antigravity
!.agent/
!.agent/rules/
!.agent/rules/**/*
!.agent/workflows/
!.agent/workflows/**/*

# py
!*.py

# sys_util_core
!sys_util_core/
!sys_util_core/*.py
!sys_util_core/uncensored/
!sys_util_core/uncensored/*.py

